<div class="container">
<div class = "panel panel-default">
   <div class = "panel-heading">
      <h3 class = "panel-title">
         New Sms Text
      </h3>
   </div>
<%= render 'form' %>

<%= link_to 'Back', sms_texts_path %>
